# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods (未使用、念のため)
Pods/

# Carthage (未使用、念のため)
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# その他
*.swp
*.lock
.env
.env.local
